backend-server/src/main/xsd/dbaccess.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="accessinformation">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="user" type="xs:string"/>
				<xs:element name="password" type="xs:string"/>
				<xs:element name="database" type="xs:string"/>
				<xs:element name="port" type="xs:int"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema> 